/*
Common
***********************/
html, 
body{ 
    height:100%;
    background-color: rgb(225, 226, 236);
}

.heading{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
   
}

.heading img{
    width: 18%;
}
.content{
    max-width: 600px;
    height: 800%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


.content .post_form .post-inputs{
    margin-bottom: 10px;
    border-radius: 5px;

}


/*
Post
***********************/
.post_form{
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input{
    width:45%;
    padding: 10px;
    border:1px solid #cccccc;
    position: relative;
}

.post_form textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;

}
.posts ul{
    padding:0;
}

.posts li {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;
    list-style: none;
    position: relative;
}

.posts li .menu_icon{
    width: 20px;
    position: absolute;
    top:30px;
    right:10px;

}

.posts li .menu{
    display: none;
    position: absolute;
    top:40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a{
    text-decoration: none;
}
.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body{
    flex-basis: 85%;
}

.posts li .name_body .name{
    font-weight: bold;
}

.posts li .name_body .datetime{
    color: gray;
}

.posts li .like{
    display:flex;
    align-items: center;
    gap: 2%;
}

.posts li .like img{
    width: 100%;
  
}

.posts li .like a{
    width:5%;
}



.postimg{
    width: 250px;
}


@media screen and (max-width: 500px){
    .posts li name_body .name{
        font-size: 20px;
    }
}

.edit a{
    border:1px solid #ccc;
    text-decoration: none;
    background-color: rgb(244, 151, 151);
    color: black;
    padding: .55em;
    border-radius: 5px;
}

.edit input{
    background-color: green;
    border-radius: 5px;
    width: 15%;
}

.edit{
    display: flex;
    align-items: center;
    margin-top: 5%;
}